<h3>
  Todo: <%= @todo.content %>
</h3>
<% if !@todo.memo.blank? %>
  <h4>
    メモ: <%= @todo.memo %>
  </h4>
<% end %>

<%= link_to "編集", edit_todo_path(@todo.id) %>
<%= link_to "削除", todo_path(@todo.id), method: :delete, data: { confirm: '削除しますか？' } %>