<div class="container">
  <div class="bg_test">
  
    <div class="row justify-content-center">
      <aside class="col-md-4">
        <label for="startTime">起床時刻 </label>
        <input type="time" id="alarmTime">
        <button class='js-alarm-btn btn btn-success btn-block'>アラームを登録する</button>
        <button class='js-stop-alarm-btn btn btn-success btn-block'>アラームを止める</button>
      </aside>
    </div>
    <div class="yohaku">
    <div id="heatmap" class='heatmap'></div>
<script>
  var startDate = new Date();
  startDate.setMonth(startDate.getMonth()-12);

  var parser = function(data) {
    return eval("(" + JSON.stringify(data) + ")");
  };

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#heatmap",
    data: "/api/records",
    afterLoadData: parser,
    cellSize: 15,
    domain: "month",
    subDomain: "day",
    range: 13,
    tooltip: false,
    start: startDate,
    domainLabelFormat: "%b",
    legend: [1,2,3,4],
    weekStartOnMonday: false,
    legendVerticalPosition: "center",
    legendOrientation: "vertical"
  });
</script>
  </div>
  </div>
</div>


