@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.container {
  width: 1250px;
  margin-right: 10;
  margin-left: 10;
  padding-right: 15;
  padding-left: 10;
}

.bg_test {
  height: 650px;                  /* 高さ指定 */
  width: 1250px;
  padding:  20px;                 /* 余白指定 */
  background-color: rgb(226, 255, 228);   /* 背景色指定 */
}

.cover{
  background-image:  image-url('aozora.jpg');
  background-size:  cover;
}

.picture{
  width: 1280px;
  margin: 0 auto;
}

.userheader{
  input[type="text"] {
    width: 300px;
    height: 1px;
}


}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  
  input {
    height: auto !important;
  }

/* sidebar */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

/* forms */


input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  
  input {
    height: auto !important;
  }

/* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

/* microposts */

.microposts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }

  /* 黒板風　1 */
.kokuban-s1 {
  position: relative;
  margin: 2em auto;
  padding: 1em;
  width: 90%; /* ボックス幅 */
  background: #202020; /* ボックス背景色 */
  color: #fff; /* 文章色 */
  border: 7px solid #b2771f; /* 枠線 */
  border-radius: 3px; /* 角の丸み */
  box-shadow: 0 0 5px #333;
 }
 .kokuban-s1::before,
 .kokuban-s1::after {
  position: absolute;
  content: '';
  bottom: 0;
 } 
 .kokuban-s1::before {
  width: 20px;
  right: 10px;
  border: solid 3px #ff42a0; /*チョーク（ピンク） */
  border-radius: 3px 2px 0 2px;
 }
 .kokuban-s1::after {
  width: 15px; 
  right: 45px;
  border: solid 3px #fff; /*チョーク（白） */
  border-radius: 8px 5px 2px 5px;
 }

 /*　テープ　枠　4 */
.kakomi-tape4 {
  position:relative;
  padding: 35px 20px 20px;
  margin: 2.5em auto;
  width: 90%;
  color: #383838; /* 文字色 */
  background-color: #7ee46a; /*BOX背景色*/ 
  box-shadow: 0 2px 5px #999;
 }
 
 .title-tape4 {
  position: absolute;
  top: -15px;
  left: 30px;
  padding: 4px 20px;
  color: #555555; /*タイトル色*/
  font-weight: bold;
  background-color: rgba(255,255,255,.1);
  border-left: 2px dotted rgba(0,0,0,.1);
  border-right: 2px dotted rgba(0,0,0,.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
  transform: rotate(-3deg);
 }
  
/* メモ　クリップ　Ａ */
.clip-box-a {
  position: relative;
  margin: 2em auto;
  padding: 15px 35px 15px 25px;
  width: 90%; /* ボックス幅 */
  background-color: #fff; /* ボックス背景色 */
  color: #555555; /* 文章色 */
  font-weight: bold;
  border: 1px solid #ccc; /* 枠線 */
  box-shadow: 1px 1px 1px #acacac; /* 影の色 */
 }
 .clip-box-a::before {
  position: absolute;
  content: '';
  top: -15px;
  right: 10px;
  height: 55px;
  width: 15px;
  border: 3px solid #555555; /*クリップ色 */
  background-color: none;
  border-radius: 12px;
  box-shadow: 1px 1px 2px #999;
  transform: rotate(10deg);
  z-index: 1;
 }
 .clip-box-a::after {
  position: absolute;
  content: '';
  top: 0px;
  width: 10px; 
  right: 20px;
  border: solid 5px #fff; /*背景色と同じ色にする*/
  z-index: 2;
 }
  
